.button-zoom-out {
  display: flex;
  justify-content: center;
  width: 20%;

  button {
    width: 90%;
  }
}

.button-zoom-out:focus, .button-zoom-out:hover {
  animation: zoomOut 1s infinite;
}

.btn-icon {
  padding: 0 0.5em;
}

.no-button {
  background-color: transparent;
  border: none;
}

.close-icon {
  margin-top: 2em;
  text-align: right;
  width: 100%;

  button {
    font-size: 2em;
  }
}

@keyframes zoomOut {
  from {
    // top: 0px;
  }
  to {
    // top: 200px;
    transform: scale(1.1);
  }
}

