$gray: #C4C4C4;
$dark-light: #e2e2e2;
$dark-gray: #757575;
$red: #de3e1f;

.bk-black {
  background-color: black;
}

.color-black {
  color: black !important;
}

.bk-white {
  background-color: white;
}

.color-white {
  color: white;
}

.bk-black-white {
  background-color: white;
  border: 1px solid black;
}

.bk-transparent {
  background-color: transparent;
}
