$gray: #C4C4C4;
$dark-light: #e2e2e2;
$dark-gray: #757575;
$red: #de3e1f;
$blue: #144380;

.bk-black {
  background-color: black;
}
.bk-white {
  background-color: white;
}

.color-white {
  color: white;
}

.bk-black-white {
  background-color: white;
  border: 1px solid black;
}

.bk-transparent {
  background-color: transparent;
}

.color-black {
  color: black !important;
}

.icon-facebook {
  color: #1298f5 !important;
}

.icon-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          /* Also define standard property for compatibility */
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-linkedin {
  color: #0a66c2;
}

.icon-youtube {
  color: #f24423;
}

.icon-whatsapp {
  color: #69d857;
}
