* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

footer {
  background-color: black;
  color: white;
}

input, select {
  display: inline-block !important;
  margin-left: 1em !important;
}

select {
  width: 20% !important;

  // mobile
  @media (max-width: 767.98px) {
    width: 90% !important;
  }
}

input {
  width: 50% !important;

  // mobile
  @media (max-width: 767.98px) {
    width: 90% !important;
  }
}

nav {
  margin-bottom: 3em;
}

.only-desktop {
  @media (max-width: 767.98px) {
    display: none;
  }
}

.only-mobile {
  @media (min-width: 768px) {
    display: none;
  }
}

.form {
  -webkit-box-shadow: -2px -2px 10px 4px rgba(0,0,0,0.04); 
  box-shadow: -2px -2px 10px 4px rgba(0,0,0,0.04);
  margin: 2em 0;
  padding: 2em 8em;

  @media (max-width: 767.98px) {
    padding: 1em;
  }

  div {
    margin-bottom: 2em;
  }
}

.hidden {
  display: none !important;
}

.show {
  display: block !important;
}

.title-section {
  text-align: center;
  margin: 6em 1em;

  @media (max-width: 767.98px) {
    margin-bottom: 3em;
    margin-top: 4em;
  }
}

.title-section__title{
  display: inline-block;
}

.title-section__title--bar {
  outline: 1px solid;
}

.quotation {
  background: linear-gradient(180deg, black 0%, #484848 44%, #444444 70%, black 100%);
  color: white;
  text-align: center;
  padding: 2em;
  margin-top: 4em;
}

.floating-wpp-button {
  background-color: transparent !important;
}

// Services
.services {
  display: flex;
  justify-content: space-between;
}

.services__description {
  text-align: center; 
  margin-bottom: 1em;
  width: 30%;
}

// Clients
.horizontal-scroll {
  overflow: auto;
  white-space: nowrap;

  .horizontal-scroll__picture {
    display: inline-block;
    text-align: center;
    padding: 0.5em;
    width: 36%;
  }
}

// Contact us

.contact-us-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  vertical-align: middle;
  text-align: center;
}

.social-networks {
  text-align: center;
  width: 100%;

  .social-networks__icons {
    display: inline-block;
    width: 50%;
  }
}

// Company

.company {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.company-description {
  text-align: center;
}

.company-info {
  display: flex;
  justify-content: space-between;
  margin: 2em;
}

.company-info__box {
  border: 1px solid $gray;
  width: 47%;
  display: inline-block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;

  i {
    font-size: 1.5rem;
  }
}
