.header {
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(77,77,77,1) 27%, rgba(117,117,117,1) 50%, rgba(68,68,68,1) 72%, rgba(0,0,0,1) 100%);

  .nav-link {
    font-size: 1.5rem;
  }
}

.nav-item  {
  a {
    color: white;
  }
}

.navbar-nav {
  width: 80%;
}

.nav-bar__text {
  color: white;
  margin-top: 1em; 
  font-size: 1.3rem;

  // mobile
  @media (max-width: 767.98px) {
    padding-left: 1em;
    text-align: center;
    width: 100%;
  }

  p {
    margin: 0;
  }
}

.navbar--separator {
  color: white;
  margin: 1em;
}

.nav-link:focus, .nav-link:hover {
  color: white;    
  font-weight: bolder;
}

.navbar>.container-fluid {
  @media (min-width: 768px) {
    align-items: baseline;
  }
}

.nav-fixed {
  position: fixed;
  background-color: black;
  width: 100%;
}

.navbar-toggler {
  border-color: rgba(255,255,255,.8) !important;
}

.navbar-menu__icon--mobile {    
  color: white !important;
  font-size: 1.8rem;
}
