@import './colors.scss';

.slider-indicator__dots {
  button {
    border: 3px solid $dark-gray !important;
    border-radius: 50% !important;
    width: 1em !important;
    height: 1em !important;
  }
}

.slider__text-horizontal {
  color: white;
  display: inline-block;
  padding: 10em;
  vertical-align: top;
  width: 50%;
  position: absolute;
  top: 17%;

  // mobile
  @media (max-width: 767.98px) {
    background-color: black;
    margin-bottom: 2em;
    padding: 1em;
    position: relative;
    width: 100%;
  }
}

.carousel-item {

  // mobile
  @media (max-width: 767.98px) {
    background-color: black;
  }
}

.slider__text-horizontal--title {
  font-size: 4rem;
  font-weight: bolder;
  text-shadow: 0px 0px 26px rgb(0 0 0 / 71%);

  @media (max-width: 767.98px) {
    font-size: 1.8rem;
    text-align: center;
  }
}

.slider__text-horizontal--paragraph {
  font-size: 1.2rem;
  text-shadow: 0px 0px 26px rgb(0 0 0 / 71%);

  @media (max-width: 767.98px) {
    font-size: 1rem;
    text-align: center;
  }
}

.slider__text-vertical--title {
  text-align: center;
  margin: 0.4em;
}

.slider__text-vertical--paragraph {
  text-align: center;
  margin-top: 2.5em;
}

.slider__text-vertical--line {
  outline: 2px solid $gray;
}

.slider-many-items {
  display: flex;
  margin-bottom: 2em;
  align-items: flex-end;
  justify-content: center;
}

.slider-many-items--item {
  margin: 0em 4em;
  margin-bottom: 4em;
}

.quotation-img {
  position: relative;

  .input--deep, .input--length {
    width: 16% !important;
  }

  .input--diameter {
    width: 50% !important;
  }

  .input--deep {
    left: 8em;
    top: 2em;
  }

  .input--length {
    top: 51%;
    left: 44%;
 
  }

  .diameter {
    left: 10%;
    top: 86%;

    select {
      width: 23%;
    }

    input {
      width: 50%;
    }
  }

}
