.button-zoom-out {
  display: flex;
  justify-content: center;
}
@media (max-width: 767.98px) {
  .button-zoom-out {
    width: 100%;
  }
}
.button-zoom-out button {
  margin-left: 2em;
}

.button-zoom-out:focus, .button-zoom-out:hover {
  animation: zoomOut 1s infinite;
}

.btn-icon {
  padding: 0 0.5em;
}

.no-button {
  background-color: transparent;
  border: none;
}

.close-icon {
  margin-top: 2em;
  text-align: right;
  width: 100%;
}
.close-icon button {
  font-size: 2em;
}

@keyframes zoomOut {
  to {
    transform: scale(1.1);
  }
}
.bk-black {
  background-color: black;
}

.color-black {
  color: black !important;
}

.bk-white {
  background-color: white;
}

.color-white {
  color: white;
}

.bk-black-white {
  background-color: white;
  border: 1px solid black;
}

.bk-transparent {
  background-color: transparent;
}

.bk-black {
  background-color: black;
}

.color-black {
  color: black !important;
}

.bk-white {
  background-color: white;
}

.color-white {
  color: white;
}

.bk-black-white {
  background-color: white;
  border: 1px solid black;
}

.bk-transparent {
  background-color: transparent;
}

.slider-indicator__dots button {
  border: 3px solid #757575 !important;
  border-radius: 50% !important;
  width: 1em !important;
  height: 1em !important;
}

.slider__text-horizontal {
  color: white;
  display: inline-block;
  padding: 10em;
  vertical-align: top;
  width: 50%;
  position: absolute;
  top: 17%;
}
@media (max-width: 767.98px) {
  .slider__text-horizontal {
    background-color: black;
    margin-bottom: 2em;
    padding: 1em;
    position: relative;
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .carousel-item {
    background-color: black;
  }
}

.slider__text-horizontal--title {
  font-size: 4rem;
  font-weight: bolder;
}
@media (max-width: 767.98px) {
  .slider__text-horizontal--title {
    font-size: 1.8rem;
    text-align: center;
  }
}

.slider__text-horizontal--paragraph {
  font-size: 1.2rem;
}
@media (max-width: 767.98px) {
  .slider__text-horizontal--paragraph {
    font-size: 1rem;
    text-align: center;
  }
}

.slider__text-vertical--title {
  text-align: center;
  margin: 0.4em;
}

.slider__text-vertical--paragraph {
  text-align: center;
  margin-top: 2.5em;
}

.slider__text-vertical--line {
  outline: 2px solid #C4C4C4;
}

.slider-many-items {
  display: flex;
  margin-bottom: 2em;
  align-items: flex-end;
  justify-content: center;
}

.slider-many-items--item {
  margin: 0em 4em;
  margin-bottom: 4em;
}

* {
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

p {
  margin: 0;
}

footer {
  background-color: black;
  color: white;
}

input, select {
  display: inline-block !important;
  margin-left: 1em !important;
}

select {
  width: 20% !important;
}
@media (max-width: 767.98px) {
  select {
    width: 90% !important;
  }
}

input {
  width: 70% !important;
}
@media (max-width: 767.98px) {
  input {
    width: 90% !important;
  }
}

nav {
  margin-bottom: 3em;
}

@media (max-width: 767.98px) {
  .only-desktop {
    display: none;
  }
}

@media (min-width: 768px) {
  .only-mobile {
    display: none;
  }
}

.separator {
  border: 1px solid black;
  margin: 2em 0;
}
.separator.white {
  border: 1px solid white;
}
.separator.light {
  border: 1px solid #e2e2e2;
}

.form {
  -webkit-box-shadow: -2px -2px 10px 4px rgba(0, 0, 0, 0.04);
  box-shadow: -2px -2px 10px 4px rgba(0, 0, 0, 0.04);
  margin: 2em 0;
  padding: 2em 8em;
}
@media (max-width: 767.98px) {
  .form {
    padding: 1em;
  }
}
.form div {
  margin-bottom: 2em;
}

.hidden {
  display: none !important;
}

.show {
  display: block !important;
}

.height-center {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-section {
  text-align: center;
  margin: 6em 1em 4em;
}
@media (max-width: 767.98px) {
  .title-section {
    margin-bottom: 3em;
    margin-top: 4em;
  }
}

.title-section__title {
  display: inline-block;
}

.title-section__title--bar {
  outline: 1px solid;
}

.quotation {
  background: linear-gradient(180deg, black 10%, #484848 100%, #444444 70%);
  color: white;
  text-align: center;
  padding: 2em;
  margin-top: 4em;
}

.quotation-button .quotation-icon {
  color: white;
  font-size: 1.6rem;
  margin-left: 0.3em;
}
.quotation-button:hover .quotation-icon {
  color: black;
}

.floating-wpp-button {
  background-color: transparent !important;
}

.services {
  display: flex;
  justify-content: space-between;
}

.services__description {
  text-align: center;
  margin-bottom: 1em;
  width: 30%;
}

.horizontal-scroll {
  overflow: auto;
  white-space: nowrap;
}
.horizontal-scroll .horizontal-scroll__picture {
  display: inline-block;
  text-align: center;
  padding: 0.5em;
  width: 36%;
}

.contact-us {
  position: relative;
}
.contact-us h4 {
  margin: 4em 0 2em;
}
@media (max-width: 767.98px) {
  .contact-us h4 {
    margin: 2em 0;
  }
}
.contact-us .title-section {
  text-align: left;
}
.contact-us .contact-us--description {
  color: #757575;
  text-align: left;
  margin: 2em 0 5em;
}
.contact-us .form {
  padding: 0;
  box-shadow: none;
}

.contact-us__social-network {
  margin: 3em 0;
}

.map {
  margin-bottom: 5em;
}

.social-networks {
  text-align: center;
  width: 100%;
}
.social-networks .social-networks__icons {
  display: inline-block;
  width: 50%;
}

.lateral-background {
  height: 100%;
  width: 28%;
  position: absolute;
  right: 0;
  background-image: url("../assets/Tunnel-Liner-768x1024.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.lateral-background:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

footer {
  position: absolute;
  padding: 0 1em;
  width: 100%;
}

.company-description {
  text-align: center;
}

.company-info {
  display: flex;
  justify-content: space-between;
  margin: 2em;
}

.company-info__box {
  border: 1px solid #C4C4C4;
  width: 47%;
  display: inline-block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.3em;
  height: 4em;
}
.company-info__box i {
  font-size: 1.5rem;
}

.mission-and-vision {
  margin: 5em 0;
}

@media (max-width: 767.98px) {
  .mission-and-vision__text {
    margin-top: 1em;
  }
}

.header .navbar {
  padding-top: 2em;
  z-index: 1;
}
.header .nav-link {
  font-size: 1.2rem;
}

.nav-item a {
  color: white;
}

.navbar-nav {
  width: 80%;
}

.nav-bar__text {
  color: white;
  margin-top: 1em;
  font-size: 1.3rem;
}
@media (max-width: 767.98px) {
  .nav-bar__text {
    padding-left: 1em;
    text-align: center;
    width: 100%;
  }
}
.nav-bar__text p {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}

.navbar--separator {
  color: white;
  display: flex;
  align-items: center;
  margin: 0.4em;
}

.nav-link:focus, .nav-link:hover {
  color: white;
  font-weight: bolder;
}

@media (min-width: 768px) {
  .navbar > .container-fluid {
    align-items: baseline;
  }
}

.nav-fixed {
  position: fixed;
  background-color: black;
  width: 100%;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.8) !important;
}

.navbar-menu__icon--mobile {
  color: white !important;
  font-size: 1.8rem;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-40 {
  width: 40%;
}

/*# sourceMappingURL=output.css.map */
